@charset "UTF-8";

*, html, body, img {
    /* background-color:#0d1117; */
    background-color: white;
    color:#192531;
}

/* html {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/2/29/Harvard_shield_wreath.svg/1200px-Harvard_shield_wreath.svg.png');
    background-repeat:no-repeat;
    background-origin: content-box;
} */

body {
    padding: 10px;
}

tr{
    display:block;
    float:left;
}
/* auction description */
.desc {
    border:1px solid black;
}

i {
    background-color:transparent;
}

img {
        box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
}