@charset "UTF-8";

/* html {
    background-image: url('https://upload.wikimedia.org/wikipedia/en/thumb/2/29/Harvard_shield_wreath.svg/1200px-Harvard_shield_wreath.svg.png');
    background-repeat:no-repeat;
    background-origin: content-box;
} */

body {
    padding: 10px;
}

img, .desc {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
    border-radius:5px;
    max-height:65vh;
    width:auto;
    max-width:33vw;
    align-items:center
}

i {
    background-color:transparent;
}

ul, ol {
    list-style-type: none;
}

h2 {
    text-align:center;
}

#seller {
    align-items: flex-end;
}

#category {
    position:relative;
}

#commentGroup{
    overflow:auto;
    height:400px;
}

#description{
    max-height:500px;
    height:350px;
}

#bid {
    position:sticky;
    bottom:0px;

}