{% extends "auctions/layout.html" %}
 
{% block body %}

    {% if message %}
    <div class="message">{{ message }}</div>
    {% endif %}

    {% if request.user == auction.seller %}
	<form action="{% url 'endAuction' auction_id %}" method="post">
	<!-- <form action="{% url 'endAuction' auction_id %}" method="post"> -->
	{% csrf_token %}
		<button class="btn btn-warning" type="submit">End Auction</button>
        </form>
    {% endif %}

    {% if user.is_authenticated %}
    {% csrf_token %}
    <input type="hidden" name="auction_id" value={{ auction.id }}>
    <button class="btn btn-primary" id="watch" onClick="addToWatchList('{{auction.id}}')"><i class="{{ spanClass }} fa-heart"></i></button>
    <div id="category" class="alert alert-light">Category: {{ auction.category }}</div>
    {% else %}
    <div class="alert alert-info">Log in to bid or add to watch list</div>
    {% endif %}

    <h3>Auction: {{ auction.title }}</h3>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-auto m-3">           
                    <img src="{{ auction.imageURL }}" alt="image of item" width="100%" max-width="500" height="auto">
            </div>
            <div class="col-md-8 m-3">
                <div class="row">
                    <div class="col-md-6 m-3">
                        <div id="description">{{ auction.description }}</div>
						<div id="bid" class="form-group" method="POST">
							<label>Current Bid: </label>
							{% if user.is_authenticated %}
							{% csrf_token %}
							{{ bidForm.bid }}
							<input class="form-control p-3" type="hidden" name="auction_id" value="{{ auction.id }}">
							<button class="form-control btn btn-success" onclick="bid(event)" name="submit">Place Bid</button>
							{% else %}
								{{ auction.max_bid }}
							{% endif %}
							{% if bidMessage %}
							<div id="bidMessage" class="alert alert-info">{{ bidMessage }}</div>
							{% endif %}
						</div>
                    </div>
                    <div class="col-md-4 m-3">
						<div class="row">
							<!-- Button trigger modal -->
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postComment">
								Post a comment
							</button>
						   </div>
						<div id="commentGroup" class="row">
							{% for comment in comments %}
							<div class="card my-2 w-100">
								<div class="card-header">{{ comment.user }} says:</div>
								<div class="comment card-body my-2">
									<p class="card-text">{{ comment.comment }}</p>
									<h6 class="comment card-subtitle">{{ comment.creationDate }}</h6>
								</div>
							</div>
								{% empty %}
								<div class="card my-2 w-100">
									<div class="card-header">Be the first to comment</div>
									<div class="comment card-body my-2">
										<p class="card-text">there are no comments at this time</p>
										<h6 class="comment card-subtitle">{% now "jS F Y H:i" %}</h6>
									</div>
								</div>
							{% endfor %}
						</div>
                    </div>
                </div>
   			 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="seller" class="row m-3 float-right">Listed by: {{ auction.seller }}</div>
    
    <!-- Modal -->
    <div class="modal fade" id="postComment" tabindex="-1" role="dialog" aria-labelledby="postComment" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="PostCommentLongTitle">Write a comment</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="message-text" class="col-form-label">Comment:</label>
                    <textarea id="comment" class="form-control" id="message-text"></textarea>
                  </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button class="btn btn-primary" onclick="comment(event)">Post</button>
            </div>
        </div>
        </div>
    </div>
    {% endblock %}

