{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    {% if category %}<h3>Categories : {{ category }}</h3>{% endif %}
<div class="card-container">
    {% for auction in auctions %}
        <div class="card bg-light text-dark">
            <img class="card-img-top" src="{{ auction.imageURL }}" alt="Card image">
            <div class="card-body">
            <h4 class="card-title">{{ auction.title }}</h4>
            <p class="card-text">{{ auction.description | truncatewords:30 }}...</p>
            <a href="{% url 'auction' auction.id %}" class="w-100 btn btn-primary stretched-link">See details</a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}